body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
}
.over{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
}
#allhead{
    float: left;
    width: 100%;
    background-color: rgb(11, 14, 14);
    top: 0;
    position:sticky;
}
.head{
    float: left;
    width: 100%;
    height: 3cm; 
}
.title h1{
    margin-top: 30px;
    font-size: 50px;
    color: whitesmoke;
}
#close1{
    float: left;
    padding-right: 10px;
    padding-top: 12px;
    margin-top: 150px;
    margin-left: -50px;
    height: 0.7cm;
    padding-left: 10px;
}
#close{
    cursor: pointer;
    border-radius: 40px;
}
#about1{
    background-color: turquoise;
}
#about2{
    background-color: turquoise;
}
.menu{
    margin: auto;
    width: 100%;
    height: 2cm;
    float: left;
}
#qu{
    color: whitesmoke;
    padding-top: 6cm;
    font-size: 30px;
}
#hom1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 1cm;
    width: 3cm;
    border-top-right-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 30, 30);
}
#mv1{
    margin-top: 17px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 1cm;
    width: 3cm;
    border-top-right-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 197, 0);
}
#song1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 1cm;
    width: 3cm;
    border-top-right-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(206, 5, 5);
}
#dol1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 1cm;
    width: 3cm;
    border-top-right-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 0, 119);
}
#tiktok1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 1cm;
    width: 3cm;
    border-top-right-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 56, 207);
}
#about1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    height: 1cm;
    width: 3cm;
    border-top-right-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 153, 0);
}
#metext{
    top: 0cm;
    position: sticky;
    margin-left: 26.85%;
    float: left;
    display: none;
    z-index: 999;
    height: 6cm;
    width: 15.4cm;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    box-shadow: 2px 2px 10px;
}
#name h1{
    margin: 0;
    padding-top: 5px;
    height: 0.5cm;
    text-align: center;
    box-shadow: 1px 1px 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(146, 7, 84);
    width: 100%;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}
.pic{
    border: 2px solid rgb(63, 63, 63);
    float: left;
    height: 3.7cm;
    width: 2.9cm;
    margin-left: 9px;
    margin-top: 3px;
    border-radius: 30px;
    overflow: hidden;
}
.text p{
    float: left;
    padding-left: 1cm;
}
#under1{
    display: none;
    width: 100%;
    float: left;
    margin-top: 3px;
    box-shadow: 0px 1px 5px;
}
#under2{
    width: 100%;
    float: left;
    margin-top: 0cm;
    box-shadow: 0px 1px 3px;
}
.box1{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 48.7%;
    height: 8cm;
}
.box2{
    margin-top: 10px;
    margin-left: 10px;
    float:left;
    width: 48.7%;
    height: 8cm;
}
#allvid{
    display: none;
    width: 100%;
    height: 100vh;
    float: left;
}
#allsong{
    display:none ;
}
#allmv{
    display: none;
}
#alldoll{
    display: none;
}
#alltiktok{
    display: none;
}
